.shine {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    -75deg,
    rgba(237, 53, 185, 1) 40%,
    rgb(254, 202, 255) 50%,
    rgba(237, 53, 185, 1) 60%
  );
  animation: shine 2.5s linear infinite;
  background-size: 300% 300%;
}

@keyframes shine {
  from {
    background-position: 150% 0%;
  }
  to {
    background-position: -50% 0%;
  }
}
