@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Eina';
    src: url('../assets/fonts/eina/Eina01-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    }

    @font-face {
        font-family: 'Eina';
        src: url('../assets/fonts/eina/Eina01-SemiBold.ttf');
        font-weight: 500;
        }

body{
    font-family: Eina, sans-serif;
    font-weight: 400;  
}